<div>
  <label for='channel'>Channel</label>
  <input name='channel' type='text' value=<%= settings.api.channel %>>
</div>
<div>
  <label for='apiKey'>API Key</label>
  <input name='apiKey' type='text' value=<%= settings.api.key %>>
</div>